tmp/*

exclude/*
!exclude/.gitkeep

data/*
!data/.gitkeep

log/*
!log/.gitkeep

db/*
!db/.gitkeep

lambdatrader/apitest.py
lambdatrader/exclude.py

venv/*
venv-fabric/*

.idea/dataSources.local.xml
.idea/workspace.xml

*__pycache__*

.DS_Store

.env

*.patch
